<!DOCTYPE HTML lang="en">
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>Coding challenge for Passenger by Andi North</title>


		<link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon/favicon.ico">
		<link rel="icon"          type="image/png"    href="resources/images/favicon/favicon-32x32.png"             sizes="32x32">
		<link rel="icon"          type="image/png"    href="resources/images/favicon/favicon-16x16.png"             sizes="16x16">
		<link rel="apple-touch-icon"                  href="resources/images/favicon/apple-touch-icon.png"          sizes="180x180">
		<link rel="mask-icon"                         href="resources/images/favicon/safari-pinned-tab.svg?v=1.0.0" color="#499E00">
		<link rel="manifest"                          href="resources/images/favicon/site.webmanifest">
		<meta name="theme-color"                      content="#499E00">
		<meta name="msapplication-TileColor"          content="#499E00">
		<meta name="msapplication-TileImage"          content="resources/images/favicon/apple-touch-icon-144x144.png">
		<meta name="msapplication-config"             content="resources/images/favicon/browserconfig.xml">
		<meta name="apple-mobile-web-app-title"       content="Passenger challenge">
		<meta name="application-name"                 content="Passenger challenge">


		<link type="text/css" media="all" href="resources/css/compiled/screen.css" rel="stylesheet" />
	</head>





	<body>
		<p>Hello World!</p>
	</body>
</html>